services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: home-telemetry-timescaledb
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: telemetry
    ports:
      - "5432:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data

volumes:
  timescale_data:
